footer.footer 
    .footer__logo
        img(src="/img/logo-green.png", alt="Full logo")
    ul.footer__nav 
        li: a(href="#") Company
        li: a(href="#") Download apps
        li: a(href="#") Become a guide
        li: a(href="#") Contact
        li: a(href="#") Careers 
    p.footer__copyright &copy;
        | 2019 by Natours. All rights reserved.


